<div class="row">
  <aside>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div>
    <ul>
      <li class="nav-item"><a href="#" class="nav-link">Tasklist</a></li>
    </ul>
  </div>
</div>